@tailwind base;
@tailwind components;
@tailwind utilities;

@layer utilities {
  .clip {
    clip-path: polygon(0 0, 100% 0, 100% 100%, 0 100%);
  }

  .bg-animation {
    animation: gradient 10s ease infinite;
    background-size: 200% 200%;
  }

  @keyframes gradient {
    0% {
      background-position: 0% 50%;
    }
    50% {
      background-position: 100% 50%;
    }
    100% {
      background-position: 0% 50%;
    }
  }
}
